
.dataalert{
    color:black;
    
    
   
    
}
.dataalert:hover{
    color: rgba(0, 0, 0, 0.781);
    background-color: rgb(255, 255, 255);
    font-size: medium;

}


button{
    margin-top: 30px;
    border-radius: 5px!important;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
  button:hover{
    color: #339299;
    border: 1px solid #338a99;
    box-shadow: 0 0 5px rgba(0, 217, 255, 0.3),
                0 0 10px rgba(0, 225, 255, 0.2),
                0 0 15px rgba(0, 204, 255, 0.1),
                0 2px 0 black;
  }


